<a href="https://colab.research.google.com/github/shxxryxg/beta/blob/main/Web_Scrape_fy22_spg_.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Library Import**

In [ ]:
import requests
import pandas as pd
from bs4 import BeautifulSoup
from google.colab import data_table

# **Exctracting FY22 Data**

In [ ]:
r = requests.get('https://www.spglobal.com/en/annual-reports/2022/financial-highlights.aspx')

In [ ]:
fy22 = BeautifulSoup(r.content, 'html.parser')
print(fy22.title)
print(r.url)
print(r.status_code)

<title>Financial Highlights | 2022 Annual Report | S&amp;P Global</title>
https://www.spglobal.com/en/annual-reports/2022/financial-highlights.aspx
200

In [ ]:
t22 = fy22.find('div' , class_="data-table")
print(t22)

<div class="data-table">
<div class="content">
<table border="0" cellpadding="0" cellspacing="0" class="highlights_table">
<thead>
<tr>
<th class="key"> <span style="font-weight:italic;">Years ended December 31 (in millions, except per share data)</span></th>
<th class="value current"> <span style="font-weight:italic;"> 2022</span></th>
<th class="value previous"> <span style="font-weight:italic;">2021</span></th>
<th class="value delta"> <span style="font-weight:italic;"> % Change </span></th>
</tr>
</thead>
<tbody class="group"><tr>
<td class="key"> <span style="font-weight:italic;">Non-GAAP pro forma adjusted revenue*</span></td>
<td class="value current"> <span class="curr">$</span> <span style="font-weight:italic;">11,842</span></td>
<td class="value previous"> <span class="curr">$</span> <span style="font-weight:italic;">12,382</span> </td>
<td class="value delta"> <span style="font-weight:italic;">(4)</span></td>
</tr><tr>
<td class="key"> <span style="font-weight:italic;">Non-GAAP pro forma adjusted net income (attributable to the Companyâ€™s
common shareholders)* </span></td>
<td class="value current"> <span class="curr">$</span> <span style="font-weight:italic;">3,765</span></td>
<td class="value previous"> <span class="curr">$</span> <span style="font-weight:italic;">4,137</span> </td>
<td class="value delta"> <span style="font-weight:italic;">(9)</span></td>
</tr> </tbody><tbody class="group"><tr>
<td class="key"> <span style="font-weight:italic;">Non-GAAP pro forma adjusted diluted earnings per common share* </span></td>
<td class="value current"> <span class="curr">$</span> <span style="font-weight:italic;">11.19</span></td>
<td class="value previous"> <span class="curr">$</span> <span style="font-weight:italic;">11.63</span> </td>
<td class="value delta"> <span style="font-weight:italic;">(4)</span></td>
</tr> </tbody><tbody class="group"><tr>
<td class="key"> <span style="font-weight:italic;">Dividends per common share<sup>(a)</sup></span></td>
<td class="value current"> <span class="curr">$</span> <span style="font-weight:italic;">3.32</span></td>
<td class="value previous"> <span class="curr">$</span> <span style="font-weight:italic;">3.08</span> </td>
<td class="value delta"> <span style="font-weight:italic;">8</span></td>
</tr> </tbody><tbody class="group"><tr>
<td class="key"> <span style="font-weight:italic;">Total assets</span></td>
<td class="value current"> <span class="curr">$</span> <span style="font-weight:italic;">61,784</span></td>
<td class="value previous"> <span class="curr">$</span> <span style="font-weight:italic;">15,026</span> </td>
<td class="value delta"> <span style="font-weight:italic;">N/M</span></td>
</tr><tr>
<td class="key"> <span style="font-weight:italic;">Capital Expenditures <sup>(b)</sup></span></td>
<td class="value current"> <span class="curr">$</span> <span style="font-weight:italic;">89</span></td>
<td class="value previous"> <span class="curr">$</span> <span style="font-weight:italic;">35</span> </td>
<td class="value delta"> <span style="font-weight:italic;">N/M</span></td>
</tr><tr>
<td class="key"> <span style="font-weight:italic;">Total debt</span></td>
<td class="value current"> <span class="curr">$</span> <span style="font-weight:italic;">10,956</span></td>
<td class="value previous"> <span class="curr">$</span> <span style="font-weight:italic;">4,114 </span> </td>
<td class="value delta"> <span style="font-weight:italic;">N/M</span></td>
</tr><tr>
<td class="key"> <span style="font-weight:italic;">Equity (including redeemable noncontrolling interest)</span></td>
<td class="value current"> <span class="curr">$</span> <span style="font-weight:italic;">39,744</span></td>
<td class="value previous"> <span class="curr">$</span> <span style="font-weight:italic;">5,536</span> </td>
<td class="value delta"> <span style="font-weight:italic;">N/M</span></td>
</tr> </tbody> <tfoot> <tr> <td class="key"></td> <td class="value current"></td> <td class="value previous"></td> <td class="value delta"></td> </tr> </tfoot> </table> </div> </div>

In [ ]:
headers22 = []
for i in t22.find_all('th'):
 title = i.text
 headers22.append(title)

In [ ]:
data22 = pd.DataFrame(columns = headers22)

In [ ]:
for j in t22.find_all('tr')[1:]:
 row_data = j.find_all('td')
 row = [i.text for i in row_data]
 length = len(data22)
 data22.loc[length] = row

In [ ]:
data22 = data22.drop(8)

In [ ]:
data22.to_csv("fy22.csv", index='true')

In [ ]:
data22 = data_table.DataTable(data22, include_index=False)

In [ ]:
data22

# **Exctracting FY21 Data**

In [ ]:
s = requests.get('https://www.spglobal.com/en/annual-reports/2021/financial-highlights.aspx')

In [ ]:
fy21 = BeautifulSoup(s.content, 'html.parser')
print(fy21.title)
print(s.url)
print(s.status_code)

<title>Financial Highlights | 2021 Annual Report | S&amp;P Global</title>
https://www.spglobal.com/en/annual-reports/2021/financial-highlights.aspx
200

In [ ]:
t21 = fy21.find('div' , class_="data-table")
print(t21)

<div class="data-table"> <div class="content"> <table border="0" cellpadding="0" cellspacing="0" class="highlights_table"> <thead> <tr> <th class="key"> <span style="font-weight:italic;">Years ended December 31 (in millions, except per share data)</span></th> <th class="value current"> <span style="font-weight:italic;"> 2021</span></th> <th class="value previous"> <span style="font-weight:italic;">2020</span></th> <th class="value delta"> <span style="font-weight:italic;"> % Change </span></th> </tr> </thead><tbody class="group"><tr>
<td class="key"> <span style="font-weight:italic;">Revenue</span></td>
<td class="value current"> <span class="curr">$</span> <span style="font-weight:italic;">8,297</span></td>
<td class="value previous"> <span class="curr">$</span> <span style="font-weight:italic;">7,442</span> </td>
<td class="value delta"> <span style="font-weight:italic;">11</span></td>
</tr><tr>
<td class="key"> <span style="font-weight:italic;">Adjusted net income (attributable to the Company's common shareholders)*</span></td>
<td class="value current"> <span class="curr">$</span> <span style="font-weight:italic;">3,311<sup>(a)</sup></span></td>
<td class="value previous"> <span class="curr">$</span> <span style="font-weight:italic;">2,830<sup>(b)</sup></span> </td>
<td class="value delta"> <span style="font-weight:italic;">17</span></td>
</tr> </tbody><tbody class="group"><tr>
<td class="key"> <span style="font-weight:italic;">Adjusted diluted earnings per common share*</span></td>
<td class="value current"> <span class="curr">$</span> <span style="font-weight:italic;">13.70<sup>(a)</sup></span></td>
<td class="value previous"> <span class="curr">$</span> <span style="font-weight:italic;">11.69<sup>(b)</sup></span> </td>
<td class="value delta"> <span style="font-weight:italic;">17</span></td>
</tr> </tbody><tbody class="group"><tr>
<td class="key"> <span style="font-weight:italic;">Dividends per common share<sup>(c)</sup></span></td>
<td class="value current"> <span class="curr">$</span> <span style="font-weight:italic;">3.08</span></td>
<td class="value previous"> <span class="curr">$</span> <span style="font-weight:italic;">2.68</span> </td>
<td class="value delta"> <span style="font-weight:italic;">15</span></td>
</tr> </tbody><tbody class="group"><tr>
<td class="key"> <span style="font-weight:italic;">Total assets</span></td>
<td class="value current"> <span class="curr">$</span> <span style="font-weight:italic;">15,026</span></td>
<td class="value previous"> <span class="curr">$</span> <span style="font-weight:italic;">12,537</span> </td>
<td class="value delta"> <span style="font-weight:italic;">20</span></td>
</tr><tr>
<td class="key"> <span style="font-weight:italic;">Capital Expenditures <sup>(d)</sup></span></td>
<td class="value current"> <span class="curr">$</span> <span style="font-weight:italic;">35</span></td>
<td class="value previous"> <span class="curr">$</span> <span style="font-weight:italic;">76</span> </td>
<td class="value delta"> <span style="font-weight:italic;">(54)</span></td>
</tr><tr>
<td class="key"> <span style="font-weight:italic;">Total debt</span></td>
<td class="value current"> <span class="curr">$</span> <span style="font-weight:italic;">4,114</span></td>
<td class="value previous"> <span class="curr">$</span> <span style="font-weight:italic;">4,110</span> </td>
<td class="value delta"> <span style="font-weight:italic;">0</span></td>
</tr><tr>
<td class="key"> <span style="font-weight:italic;">Equity (including redeemable noncontrolling interest)</span></td>
<td class="value current"> <span class="curr">$</span> <span style="font-weight:italic;">5,536</span></td>
<td class="value previous"> <span class="curr">$</span> <span style="font-weight:italic;">3,352</span> </td>
<td class="value delta"> <span style="font-weight:italic;">65</span></td>
</tr> </tbody> <tfoot> <tr> <td class="key"></td> <td class="value current"></td> <td class="value previous"></td> <td class="value delta"></td> </tr> </tfoot> </table> </div> </div>

In [ ]:
headers21 = []
for i in t21.find_all('th'):
 title = i.text
 headers21.append(title)

In [ ]:
data21 = pd.DataFrame(columns = headers21)

In [ ]:
for j in t21.find_all('tr')[1:]:
 row_data = j.find_all('td')
 row = [i.text for i in row_data]
 length = len(data21)
 data21.loc[length] = row

In [ ]:
data21 = data21.drop(8)

In [ ]:
data21.to_csv("fy21.csv", index='true')

In [ ]:
data21 = data_table.DataTable(data21, include_index=False)

In [ ]:
data21

# **Exctracting FY20 Data**

In [ ]:
t = requests.get('https://www.spglobal.com/en/annual-reports/2020/financial-highlights.aspx')

In [ ]:
fy20 = BeautifulSoup(t.content, 'html.parser')
print(fy20.title)
print(t.url)
print(t.status_code)

<title>Financial Highlights | 2020 Annual Report | S&amp;P Global</title>
https://www.spglobal.com/en/annual-reports/2020/financial-highlights.aspx
200

In [ ]:
t20 = fy20.find('div' , class_="data-table")
print(t20)

<div class="data-table"> <div class="content"> <table border="0" cellpadding="0" cellspacing="0" class="highlights_table"> <thead> <tr> <th class="key"> <span style="font-weight:italic;">Years ended December 31 (in millions, except per share data)</span></th> <th class="value current"> <span style="font-weight:italic;"> 2020</span></th> <th class="value previous"> <span style="font-weight:italic;">2019</span></th> <th class="value delta"> <span style="font-weight:italic;"> % Change </span></th> </tr> </thead><tbody class="group"><tr>
<td class="key"> <span style="font-weight:italic;">Revenue</span></td>
<td class="value current"> <span class="curr">$</span> <span style="font-weight:italic;">7,442</span></td>
<td class="value previous"> <span class="curr">$</span> <span style="font-weight:italic;">6,699</span> </td>
<td class="value delta"> <span style="font-weight:italic;">11</span></td>
</tr><tr>
<td class="key"> <span style="font-weight:italic;">Adjusted net income (attributable to the Company's common shareholders)*</span></td>
<td class="value current"> <span class="curr">$</span> <span style="font-weight:italic;">2,830<sup>(a)</sup></span></td>
<td class="value previous"> <span class="curr">$</span> <span style="font-weight:italic;">2,352<sup>(b)</sup></span> </td>
<td class="value delta"> <span style="font-weight:italic;">20</span></td>
</tr> </tbody><tbody class="group"><tr>
<td class="key"> <span style="font-weight:italic;">Adjusted diluted earnings per common share*</span></td>
<td class="value current"> <span class="curr">$</span> <span style="font-weight:italic;">11.69<sup>(a)</sup></span></td>
<td class="value previous"> <span class="curr">$</span> <span style="font-weight:italic;">9.53<sup>(b)</sup></span> </td>
<td class="value delta"> <span style="font-weight:italic;">23</span></td>
</tr> </tbody><tbody class="group"><tr>
<td class="key"> <span style="font-weight:italic;">Dividends per common share<sup>(c)</sup></span></td>
<td class="value current"> <span class="curr">$</span> <span style="font-weight:italic;">2.68</span></td>
<td class="value previous"> <span class="curr">$</span> <span style="font-weight:italic;">2.28</span> </td>
<td class="value delta"> <span style="font-weight:italic;">18</span></td>
</tr> </tbody><tbody class="group"><tr>
<td class="key"> <span style="font-weight:italic;">Total assets</span></td>
<td class="value current"> <span class="curr">$</span> <span style="font-weight:italic;">12,537</span></td>
<td class="value previous"> <span class="curr">$</span> <span style="font-weight:italic;">11,348</span> </td>
<td class="value delta"> <span style="font-weight:italic;">10</span></td>
</tr><tr>
<td class="key"> <span style="font-weight:italic;">Capital Expenditures <sup>(d)</sup></span></td>
<td class="value current"> <span class="curr">$</span> <span style="font-weight:italic;">76</span></td>
<td class="value previous"> <span class="curr">$</span> <span style="font-weight:italic;">115</span> </td>
<td class="value delta"> <span style="font-weight:italic;">(34)</span></td>
</tr><tr>
<td class="key"> <span style="font-weight:italic;">Total debt</span></td>
<td class="value current"> <span class="curr">$</span> <span style="font-weight:italic;">4,110</span></td>
<td class="value previous"> <span class="curr">$</span> <span style="font-weight:italic;">3,948</span> </td>
<td class="value delta"> <span style="font-weight:italic;">4</span></td>
</tr><tr>
<td class="key"> <span style="font-weight:italic;">Equity (including redeemable noncontrolling interest)</span></td>
<td class="value current"> <span class="curr">$</span> <span style="font-weight:italic;">3,352</span></td>
<td class="value previous"> <span class="curr">$</span> <span style="font-weight:italic;">2,804</span> </td>
<td class="value delta"> <span style="font-weight:italic;">20</span></td>
</tr> </tbody> <tfoot> <tr> <td class="key"></td> <td class="value current"></td> <td class="value previous"></td> <td class="value delta"></td> </tr> </tfoot> </table> </div> </div>

In [ ]:
headers20 = []
for i in t20.find_all('th'):
 title = i.text
 headers20.append(title)

In [ ]:
data20 = pd.DataFrame(columns = headers20)

In [ ]:
for j in t20.find_all('tr')[1:]:
 row_data = j.find_all('td')
 row = [i.text for i in row_data]
 length = len(data20)
 data20.loc[length] = row

In [ ]:
data20 = data20.drop(8)

In [ ]:
data20.to_csv("fy20.csv", index= 'true')

In [ ]:
data20 = data_table.DataTable(data20, include_index=False)

In [ ]:
data20

# **Exctracting FY19 Data**

In [ ]:
u = requests.get('https://www.spglobal.com/en/annual-reports/2019/financial-highlights.aspx')

In [ ]:
fy19 = BeautifulSoup(u.content , 'html.parser')
print(fy19.title)
print(u.url)
print(u.status_code)

<title>Financial Highlights | 2019 Annual Report | S&amp;P Global</title>
https://www.spglobal.com/en/annual-reports/2019/financial-highlights.aspx
200

In [ ]:
t19 = fy19.find('div' , class_='data-table')
print(t19)

<div class="data-table"> <div class="content"> <table border="0" cellpadding="0" cellspacing="0" class="highlights_table"> <thead> <tr> <th class="key"> <span style="font-weight:italic;">Years ended December 31 (in millions, except per share data)</span></th> <th class="value current"> <span style="font-weight:italic;"> 2019</span></th> <th class="value previous"> <span style="font-weight:italic;">2018</span></th> <th class="value delta"> <span style="font-weight:italic;"> % Change </span></th> </tr> </thead><tbody class="group"><tr>
<td class="key"> <span style="font-weight:italic;">Revenue</span></td>
<td class="value current"> <span class="curr">$</span> <span style="font-weight:italic;">6,699</span></td>
<td class="value previous"> <span class="curr">$</span> <span style="font-weight:italic;">6,258</span> </td>
<td class="value delta"> <span style="font-weight:italic;">7</span></td>
</tr><tr>
<td class="key"> <span style="font-weight:italic;">Adjusted net income (attributable to the Company's common shareholders)*</span></td>
<td class="value current"> <span class="curr">$</span> <span style="font-weight:italic;">2,352<sup>(a)</sup></span></td>
<td class="value previous"> <span class="curr">$</span> <span style="font-weight:italic;">2,152<sup>(b)</sup></span> </td>
<td class="value delta"> <span style="font-weight:italic;">9</span></td>
</tr> </tbody><tbody class="group"><tr>
<td class="key"> <span style="font-weight:italic;">Adjusted diluted earnings per common share*</span></td>
<td class="value current"> <span class="curr">$</span> <span style="font-weight:italic;">9.53<sup>(a)</sup></span></td>
<td class="value previous"> <span class="curr">$</span> <span style="font-weight:italic;">8.50<sup>(b)</sup></span> </td>
<td class="value delta"> <span style="font-weight:italic;">12</span></td>
</tr> </tbody><tbody class="group"><tr>
<td class="key"> <span style="font-weight:italic;">Dividends per common share<sup>(c)</sup></span></td>
<td class="value current"> <span class="curr">$</span> <span style="font-weight:italic;">2.28</span></td>
<td class="value previous"> <span class="curr">$</span> <span style="font-weight:italic;">2.00</span> </td>
<td class="value delta"> <span style="font-weight:italic;">14</span></td>
</tr> </tbody><tbody class="group"><tr>
<td class="key"> <span style="font-weight:italic;">Total assets</span></td>
<td class="value current"> <span class="curr">$</span> <span style="font-weight:italic;">11,348</span></td>
<td class="value previous"> <span class="curr">$</span> <span style="font-weight:italic;">9,441</span> </td>
<td class="value delta"> <span style="font-weight:italic;">20</span></td>
</tr><tr>
<td class="key"> <span style="font-weight:italic;">Capital Expenditures <sup>(d)</sup></span></td>
<td class="value current"> <span class="curr">$</span> <span style="font-weight:italic;">115</span></td>
<td class="value previous"> <span class="curr">$</span> <span style="font-weight:italic;">113</span> </td>
<td class="value delta"> <span style="font-weight:italic;">2</span></td>
</tr><tr>
<td class="key"> <span style="font-weight:italic;">Total debt</span></td>
<td class="value current"> <span class="curr">$</span> <span style="font-weight:italic;">3,948</span></td>
<td class="value previous"> <span class="curr">$</span> <span style="font-weight:italic;">3,662</span> </td>
<td class="value delta"> <span style="font-weight:italic;">8</span></td>
</tr><tr>
<td class="key"> <span style="font-weight:italic;">Equity (including redeemable noncontrolling interest)</span></td>
<td class="value current"> <span class="curr">$</span> <span style="font-weight:italic;">2,804</span></td>
<td class="value previous"> <span class="curr">$</span> <span style="font-weight:italic;">2,304</span> </td>
<td class="value delta"> <span style="font-weight:italic;">22</span></td>
</tr> </tbody> <tfoot> <tr> <td class="key"></td> <td class="value current"></td> <td class="value previous"></td> <td class="value delta"></td> </tr> </tfoot> </table> </div> </div>

In [ ]:
headers19 = []
for i in t19.find_all('th'):
 title = i.text
 headers19.append(title)

In [ ]:
data19 = pd.DataFrame(columns = headers19)

In [ ]:
for j in t19.find_all('tr')[1:]:
 row_data = j.find_all('td')
 row = [i.text for i in row_data]
 length = len(data19)
 data19.loc[length] = row

In [ ]:
data19 = data19.drop(8)

In [ ]:
data19.to_csv("fy19.csv", index='true')

In [ ]:
data19 = data_table.DataTable(data19, include_index=False)

In [ ]:
data19

#**Data Frames**

In [ ]:
df1 = pd.read_csv('fy19.csv')
df2 = pd.read_csv('fy20.csv')
df3 = pd.read_csv('fy21.csv')
df4 = pd.read_csv('fy22.csv')

In [ ]:
data_table.DataTable(df1, include_index=False)